{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "printWidth": 120,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.ejs",
      "options": {
        "parser": "html",
        "bracketSameLine": true,
        "htmlWhitespaceSensitivity": "ignore",
        "singleAttributePerLine": false,
        "printWidth": 200
      }
    }
  ]
}
