{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "printWidth": 100,
  "overrides": [
    {
      "files": "*.ejs",
      "options": {
        "parser": "html",
        "bracketSameLine": true,
        "htmlWhitespaceSensitivity": "strict"
      }
    }
  ]
}
