<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <h1><a href="/">나의 개발 블로그</a></h1>
    </header>
    <main><%- body %></main>

    <footer>
      <p>&copy; 2025 MDBlog</p>
    </footer>
  </body>
</html>
